@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add padding to the bottom of the body to prevent content from being hidden behind the mobile navigation */
@media (max-width: 768px) {
  body {
    padding-bottom: 60px;
  }
}

@keyframes carousel-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%); /* Changed to -100% */
  }
}

.animate-carousel-scroll {
  animation: carousel-scroll 30s linear infinite;
}

@keyframes carousel-scroll-reverse {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-carousel-scroll-reverse {
  animation: carousel-scroll-reverse 30s linear infinite;
}

@keyframes story-slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes story-slide-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.story-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.story-container.reverse .story-slider {
  animation: story-slide-reverse 30s linear infinite;
  float: right;
}

.story-container.reverse::after {
  content: "";
  clear: both;
  display: table;
}

.story-slider {
  display: inline-flex;
  animation: story-slide 30s linear infinite;
  padding: 0 1rem;
}

.story-slider:hover {
  animation-play-state: paused;
}

.story-item {
  margin-right: 1rem;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.story-item:hover {
  transform: scale(1.02);
}